.latest-orders {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.box-card {
  width: 30%;
  height: 300px;
  margin-right: 20px;
  margin-top: 20px;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  transition-property: all;
  &--active {
    width: 100%;
    height: 500px;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    transition-property: all;
    animation: active 0.5s;
  }
}

.op-list {
  margin-top: 10px;
  display: flex;
}

.skeleton {
  margin:0 0 30px 0;
  padding:0;
  li {
    list-style: none;
    padding: 10px;
    margin:15px 0;
    box-sizing: border-box;
    background: #e4e4e4;
    height: 20px;
    width: 100%;
  }
}

@keyframes active {
  0% {
    background: #fff;
    border:5px solid #409EFF;
  }
  25% {
    background: #fbfdff;
  }
  50% {
    background: #fbfdff;
  }
  75% {
    background: #fbfdff;
  }
  100% {
    background: #fff;
  }
}
