.skeleton {
  margin:0 0 30px 0;
  padding:0;
  &--horizontal {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  li {
    list-style: none;
    padding: 10px;
    margin:15px 0;
    box-sizing: border-box;
    background: #e4e4e4;
    height: 20px;
    width: 100%;
    &.detail {
      height: 30px;
      margin:20px 0;
    }
    &.picture {
      height: 100px;
      width: 100px;
      margin-right: 20px;
    }
  }
}
