$background-primary: #fff;
$background-secondary: '';

$section-background-primary: '';
$section-background-secondary: '';

$font-color-default: '';
$font-color-primary: '';
$font-color-secondary: '';
$font-color-warning: '';
$font-color-error: '';
$font-color-success: '';

$menu-background: #323A62;

//todo: confirm this with designer
