@import '../../../styles/typography.scss';
@import '../../../styles/color.scss';

.not-found {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footnote {
  text-align: center;
  margin-top:30px;
  font-size:$font-size-extra-lg + 10px;
  color: #c5c2c2;
  font-weight: $font-weight-light;
  &__tips {
    font-size: $font-size-extra-lg;
    color: #c5d2c2;
  }
}
