// margins: sm, md, lg
$margin-lg: $margin-base + 16px;
$margin-md: $margin-base + 8px;
$margin-sm: $margin-base;
$margin-base: 8px;

// paddings: sm, md, lg
$padding-lg: $padding-base + 12px;
$padding-md: $padding-base + 8px;
$padding-sm: $padding-base;
$padding-base: 8px;
